.bs-example-tooltip .tooltip {
   position: fixed;
   display: none;
   /*margin: 10px 20px;*/
   top: 100px;
   left: 100px;
   opacity: 1;
 }
 .tooltip {
     position: relative;;
 }

/*
 *  list tree css
 *  begin
 */
 
div.panel:first-child {
    margin-top:20px;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;
    
    max-height: 256px;
    overflow:auto;
	
	padding: 4px;
	
	margin-bottom: 20px;
	
	color: #369;
	
	border: solid 1px;
	border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
	color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    
    /* creates a more theme-ready standard for the bootstrap themes */
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/*
 *  list tree css
 *  end
 */

 /*
  *  software define css
  *  start
  */
.node-details-content {
    -ms-flex: 1;
    flex: 1;
    padding: 0 36px 0 36px;
    overflow-y: auto;
}
.node-details-content-section {
    margin: 16px 0;
}
.node-details-content-section-header {
    text-transform: uppercase;
    font-size: 90%;
    color: #8383ac;
    padding: 4px 0;
}
.node-details-info-field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.node-details-info-field-label {
    text-align: right;
    width: 25%;
    color: #5b5b88;
    padding: 0 0.5em 0 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 80%;
}
.truncate, .node-details-relatives-link, .node-details-controls-error, .terminal-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.node-details-info-field-value {
    font-size: 105%;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    color: #3c3c5a;
}
.node-details-info-field-label::after {
    content: ':';
}
.node-details-health-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.node-details-health-item {
    padding: 8px 16px;
    width: 100%;
}
.node-details-health-item-value {
    color: #5b5b88;
    font-size: 150%;
    padding-bottom: 0.5em;
}
.metric-unit {
    padding-left: 0.25em;
}
.node-details-health-item-label {
    color: #5b5b88;
    text-transform: uppercase;
    font-size: 80%;
}
 /*
  *  software define css
  *  end
  */